@import "./variables";


.fondoT5{ @extend.fondoT2;
    background-image: url(./imagenes/contacto.jpg);
    background-position: bottom;
    }
#pSecc5{
        margin:3px;
        padding: 12px 3px 0px 3px; 
        font-size: 15px;
        text-align: left;
        font-family: 'Nunito', sans-serif;
        color: $grisMedio;}

.cbotones5{margin: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

} 