@import "./variables";

.fondoT3{ @extend.fondoT2;
    background-image: url(./imagenes/servicios.jpg);
    background-position: top;
    opacity: 90%;
    }

#card3{ border-radius: 10px;
        box-shadow: $grisMedio -5px 0px 7px;
}
#nombresSec3{ width: 100%;
                margin: 5px 0px 5px 0px;
                padding: 3px 0px 10px 0px;
                font-size: $tbajadas;
                color: $Bordo;
                font-family: 'Nunito', sans-serif;
                text-indent:10px;
                text-align: left; 
                letter-spacing: 1px;
                border-bottom:solid 2px $Bordo}

.pSecc3{
        margin:5px 5px 5px 10px;
        padding: 20px;
        line-height: 35px;
        color: $grisMedio;
        font-family: 'Nunito', sans-serif;
        letter-spacing: 1.1px;
        word-spacing: 1.5px;
        text-transform: initial; 
        }

.listas3{
        padding-left: 10px;
        letter-spacing: normal;
        list-style-type:disc; 
        text-align: left;
        font-size: $pSecc2;
        }

 
.botones { margin: 7px;
            padding: 7px;
            border: 2px solid $grisMedio;
            border-radius: 3px;
            background-color: $blanco; 
            color: $grisMedio; 
            font-style: normal; 
            font-size: 16px; 
            font-family: 'Nunito', sans-serif;
            letter-spacing: 1px;
            text-align: center; 
            text-transform: initial;
            margin:auto;}
    
.botones:hover{ background-color: $grisMedio;
                color:$blanco;
                border: 1px solid  $grisMedio;
    }