$grisClaro:rgb(233, 227, 227);
$grisMedio: rgb(128, 118, 118);
$grisOscuro: rgb(65, 62, 62);
$Bordo:rgb(197, 82, 82);
$blanco: white;
$tSecc:55px;
$tbajadas:20px; 
$pSecc2:18px;
$hFondoTitulo:7em;
$hHeader:7em;