@charset "UTF-8";
#primerFondo {
  background-color: #e9e3e3;
  height: 7em;
  width: 100%;
  border-bottom: 3px solid #c55252;
}

.fondoSlogan {
  background-image: url(./imagenes/agrimensura.jpg);
  height: 40em;
  opacity: 60%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.slogan {
  margin-left: 35px;
  padding-top: 25px;
  padding-left: 15px;
  border: 1px;
  font-style: normal;
  font-size: 45px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: #413e3e;
  letter-spacing: 2px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pSecc1 {
  margin-left: 35px;
  padding-top: 25px;
  padding-left: 14px;
  border: 1px;
  width: 26em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #413e3e;
  font-style: normal;
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: normal;
  text-align: left;
  text-transform: initial;
  line-height: normal;
  text-indent: 30px;
}

.Footer1, .Footer2 {
  height: 15em;
  width: 100%;
  border-top: 5px solid #c55252;
  background: -webkit-gradient(linear, left top, left bottom, from(#807676), to(#413e3e));
  background: linear-gradient(to bottom, #807676, #413e3e);
}

.F1Logo, .F2Logo {
  padding: 6px;
  border: 1px;
  color: white;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  word-spacing: 2px;
  text-align: center;
}

.F1Subtitulo, .F2Subtitulo {
  margin: 3px;
  padding: 6px;
  border: 1px;
  color: white;
  font-style: normal;
  font-size: 12px;
  font-weight: lighter;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 3px;
  word-spacing: 2px;
  text-align: center;
}

.F1Datos, .F2Datos {
  margin-top: 15px;
  padding: 3px;
  border: 1px;
  color: white;
  font-style: normal;
  font-size: 10px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: center;
}

.Mapa {
  margin-left: 80px;
  margin-top: 20px;
  width: 19em;
  height: 12em;
  overflow: hidden;
}

.fondoT2, .fondoT3, .fondoT4, .fondoT5 {
  background-image: url(./imagenes/quienes-somos.jpg);
  height: 7em;
  width: 100%;
  background-position: center;
  opacity: 60%;
  background-size: cover;
  background-repeat: no-repeat;
}

#card {
  width: 20rem;
  height: 35rem;
  margin: 20px 0px 20px 0px;
  border-radius: 10px;
  -webkit-box-shadow: #807676 -5px 0px 7px;
          box-shadow: #807676 -5px 0px 7px;
}

#nombresSec2 {
  width: 14em;
  margin: 5px 0px 5px 0px;
  padding: 3px 0px 10px 0px;
  font-size: 20px;
  color: #c55252;
  font-family: 'Nunito', sans-serif;
  text-indent: 10px;
  text-align: left;
  letter-spacing: 1px;
  border-bottom: solid 1px #c55252;
}

#img2 {
  -webkit-transform: translateX(19px);
          transform: translateX(19px);
  width: 280px;
  height: 280px;
  margin-top: 7px;
}

.fondoT3 {
  background-image: url(./imagenes/servicios.jpg);
  background-position: top;
  opacity: 90%;
}

#card3 {
  width: 60em;
  margin: 10px 0px 20px 20px;
  padding: 10px 0px 20px 20px;
}

.pSecc3 {
  margin: 5px 0px 5px 10px;
  padding: 2px;
  color: #807676;
  font-size: 18px;
  letter-spacing: normal;
  text-indent: 20px;
}

.listas3 {
  list-style-type: disc;
  text-align: left;
  margin: 5px 5px 5px 10px;
}

.botones {
  padding: 7px;
  border: 2px solid #807676;
  border-radius: 3px;
  background-color: white;
  color: #807676;
  font-style: normal;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  text-transform: initial;
  margin: auto;
}

.botones:hover {
  background-color: #807676;
  color: white;
  border: 1px solid #807676;
}

.fondoT4 {
  background-image: url(./imagenes/tramites.jpg);
  background-position: bottom;
}

#Form4 {
  width: 30em;
  margin: auto;
  padding: 40px;
}

#olvide {
  font-size: 13px;
  font-weight: 50;
  color: #807676;
  margin: 10px;
  padding: 6px;
  font-family: 'Nunito', sans-serif;
}

#pSecc4 {
  color: #807676;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  text-indent: 20px;
}

.fondoT5 {
  background-image: url(./imagenes/contacto.jpg);
  background-position: bottom;
}

#Form5 {
  width: 30em;
  margin: auto;
  padding: 40px;
}

#cajaMsj {
  width: 100%;
  border: none;
}

.cbotones5 {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fondoTotal2 {
  width: 100%;
  margin: auto;
  background-color: #e9e3e3;
}

/*NAVEGACIÓN EN SECCIONES*/
#SegundoFondo {
  background-color: white;
  height: 7em;
  width: 100%;
  border: 3px solid #c55252;
}

.logo {
  margin: 7px 3px 1px 25px;
  padding: 3px;
  border: 1px;
  color: #c55252;
  font-style: normal;
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  letter-spacing: normal;
  text-align: left;
}

.subtitulo {
  margin: 1px 3px 5px 25px;
  padding: 2px 4px 4px 4px;
  border: 1px;
  color: #807676;
  font-style: normal;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  letter-spacing: normal;
  word-spacing: 1px;
  text-align: left;
}

#textoNav {
  color: #413e3e;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Nunito', sans-serif;
  letter-spacing: normal;
  text-transform: initial;
  z-index: index;
}

/*MAIN SECCIONES*/
#cajaMain {
  padding: 0px;
  margin: 0px;
}

.tseccion2 {
  margin: auto;
  padding: 6px;
  border: 1px;
  color: white;
  font-style: normal;
  font-size: 55px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: #413e3e -5px 0px 4px;
}

.pBajada2, .pSecc3, #pSecc2 {
  margin: 70px auto 70px auto;
  padding: 30px;
  border: 1px;
  color: #807676;
  font-style: normal;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-align: left;
  text-transform: initial;
  line-height: 30px;
  text-indent: 30px;
}

#pSecc2 {
  margin: 3px;
  padding: 12px 3px 0px 3px;
  color: #807676;
  font-size: 18px;
  letter-spacing: normal;
  text-indent: 10px;
}

/*FOOTER SECCIONES*/
.Footer2 {
  height: 7em;
}

.F2Logo {
  margin: 5px 3px 3px 3px;
  padding: 3px;
}

.F2Subtitulo {
  padding: 3px;
}

.F2Datos {
  margin: 25px;
  padding: 10px;
}

/*RESPONSIVE*/
/* para celulares*/
@media only screen and (max-width: 320px) {
  .logo {
    margin: 7px 0px 1px 2px;
    padding: 3px;
    font-size: 16px;
  }
  .subtitulo {
    margin: 1px 0px 5px 2px;
    padding: 3px;
    font-size: 13px;
    word-spacing: 1px;
  }
  .fondoSlogan {
    background-position: left;
  }
  .slogan {
    margin-left: 22px;
    padding-top: 25px;
    font-size: 35px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pSecc1 {
    margin-left: 25px;
    width: 18em;
    padding-left: 0px;
    font-size: 15px;
    word-spacing: 2px;
    line-height: 25px;
  }
  .Footer1, .Footer2 {
    height: 28em;
  }
  .F1Logo, .F2Logo {
    margin: 1px;
    padding-top: 15px;
  }
  .F1Subtitulo, .F2Subtitulo {
    margin: 1px;
    padding-bottom: 15px;
    border-bottom: 1px white solid;
  }
  .F1Datos, .F2Datos {
    margin: 10px 0px 1px 0px;
  }
  .Mapa {
    margin-left: 17px;
    width: 16em;
  }
  .fondoTitulo2 {
    height: 3.5em;
  }
  .tseccion2 {
    font-size: 30px;
  }
  .tseccion3 {
    font-size: 30px;
  }
  .pBajada2, .pSecc3, #pSecc2 {
    font-size: 13px;
    width: 22em;
    padding: 15px;
    margin-top: auto;
    margin-bottom: 10px;
  }
  #card {
    margin: 3px;
    padding: 15px 1px 15px 1px;
  }
  #card3 {
    margin: auto;
    padding: 5px;
    width: 17em;
  }
  .Footer2 {
    height: 15em;
  }
  .F2Datos {
    margin: 6px;
    padding: 6px;
  }
}

.subtitulo3 {
  margin: 5px;
  padding: 3px;
  font-size: 15px;
}

.pSecc3 {
  margin: 5px 0px 5px 10px;
  padding: 2px;
  color: #807676;
  font-style: normal;
  font-size: 12px;
}

#Form4 {
  width: 21em;
}

#Form5 {
  width: 21em;
  margin: auto;
  padding: 20px;
}

#cajaMsj {
  width: 100%;
}

.fondoTitulo3 {
  height: 3.5em;
}

.fondoTitulo4 {
  height: 3.5em;
}

.fondoTitulo5 {
  height: 3.5em;
}

.cbotones5 {
  margin: 0px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.botones {
  padding: 7px;
  border: 2px solid #807676;
  border-radius: 3px;
  font-size: 15px;
}

/* para Tablets*/
@media only screen and (width: 768px) {
  .logo {
    margin: 7px 3px 1px 3px;
    padding: 3px;
    font-size: 20px;
  }
  .subtitulo {
    margin: 1px 3px 5px 3px;
    padding: 3px;
    font-size: 16px;
  }
  #textoNav {
    margin: 5px 3px;
    padding: 3px;
    font-style: normal;
    font-size: 13px;
  }
  .fondoSlogan {
    background-position: left;
  }
  .slogan {
    margin-left: 35px;
    padding-top: 25px;
    font-size: 33px;
  }
  .pSecc1 {
    width: 25em;
    padding-top: 25px;
    font-size: 18px;
    line-height: 30px;
  }
  .F1Subtitulo, .F2Subtitulo {
    margin: 1px;
    padding: 1px;
  }
  .F1Datos, .F2Datos {
    padding: 1px;
  }
  .Mapa {
    margin-left: 40px;
    width: 25em;
  }
  .tseccion2 {
    font-size: 45px;
  }
  .tseccion3 {
    font-size: 45px;
  }
  .fondoTitulo2 {
    height: 3.5em;
  }
  .fondoTitulo3 {
    height: 3.5em;
  }
  .fondoTitulo4 {
    height: 3.5em;
  }
  .fondoTitulo {
    height: 3.5em;
  }
  .pBajada2, .pSecc3, #pSecc2 {
    margin: 50px auto 50px auto;
    width: 40em;
    padding: 20px;
    font-size: 17px;
    word-spacing: 1px;
  }
  #card3 {
    margin: auto;
    width: 45em;
    padding: 20px;
  }
  .subtitulo3 {
    font-size: 16px;
  }
  .pSecc3 {
    margin: 5px 0px 5px 10px;
    padding: 2px;
    font-size: 13px;
  }
  .listas3 {
    list-style-type: disc;
    text-align: left;
    margin: 5px 5px 5px 10px;
  }
  #Form4 {
    width: 30em;
  }
  #Form5 {
    width: 30em;
    margin: auto;
    padding: 20px;
  }
  #cajaMsj {
    width: 30em;
  }
  .Footer2 {
    height: 13em;
  }
  .F2Datos {
    margin: 6px;
    padding: 6px;
  }
}
